
    /* AboutUS Body Styling */
body {
    background-color: #000000; 
    color: #0e0e0e; 
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    text-align: center;
}

h1 {
    color: #ffcc00; 
    font-size: 40px;
    margin-bottom:10px;
}

.avatar {
    width: auto;
    height: 200px;
    margin: 10px;
    justify-content: center;

}
.card {
    width: 90%; 
    max-width: 600px; 
    background-color: #151414; 
    color: #f7f9fb;
    border-radius: 15px; 
    box-shadow: 0 10px 20px rgba(212, 206, 18, 0.564); 
    margin: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}




